.header {
  display: flex;
  flex-direction: column;

  align-items: center;

  row-gap: 80px;
  margin-bottom: 20px;

  width: 100%;
}

.header .title {
  font-family: 'Basis Grotesque Pro';
  font-weight: 700;
  font-size: 30px;
  line-height: 38.73px;
}
